apiVersion: batch/v1
kind: Job 
metadata:
  name: "{{._NAME_}}"
  namespace: "{{.namespace}}"
spec:
  backoffLimit: {{.backoffLimit}}
  completions: {{.completions}} 
  parallelism: {{.parallelism}}
  completionMode: {{.completionMode}}
  template:
    metadata:
      labels:
        pod-init-container-running-failed.stage.kwok.x-k8s.io: "true"
      annotations:
        pod-init-container-running-failed.stage.kwok.x-k8s.io/container-name: "{{.failureContainerName}}"
        pod-init-container-running-failed.stage.kwok.x-k8s.io/reason: "{{.failureReason}}"
        pod-init-container-running-failed.stage.kwok.x-k8s.io/message: "{{.failureMessage}}"
        pod-init-container-running-failed.stage.kwok.x-k8s.io/exit-code: "{{.failureExitCode}}"
        pod-init-container-running-failed.stage.kwok.x-k8s.io/delay: "{{.failureDelay}}"
        pod-init-container-running-failed.stage.kwok.x-k8s.io/jitter-delay: "{{.failureJitterDelay}}"
    spec:
      schedulerName: default-scheduler
      initContainers:
      - name: {{.failureContainerName}}
        image: {{.initContainerImage}}
      containers:
      - name: test
        image: {{.containerImage}}
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            cpu: "{{.cpu}}"
            memory: {{.memory}}
            nvidia.com/gpu: "{{.gpu}}"
          requests:
            cpu: "{{.cpu}}"
            memory: {{.memory}}
            nvidia.com/gpu: "{{.gpu}}"
      restartPolicy: OnFailure
